<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Street</th>
    <th>Package</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>test1</td>
    <td>test1</td>
    <td>test1</td>
    <td>test1</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>test2</td>
    <td>test2</td>
    <td>test2</td>
    <td>test2</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>test3</td>
    <td>test3</td>
    <td>test3</td>
    <td>test3</td>
  </tr>
  </tbody>
</table>
